<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Ng-Calc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>

        angular.module("myApp", [])
        .controller("calcController", ["$scope", function($scope){

            $scope.numbers = {

                num1: "",
                num2: ""
            }
            
            $scope.add = function(){

                $scope.results = $scope.numbers.num1 + $scope.numbers.num2;
            }

             $scope.subtract = function(){

                 $scope.results = $scope.numbers.num1 - $scope.numbers.num2;
            }


            $scope.multiply = function(){

            $scope.results = $scope.numbers.num1 * $scope.numbers.num2;
                            }


            $scope.divide = function(){

            $scope.results = $scope.numbers.num1 * $scope.numbers.num2;
                            }


        }]);

        </script>
    </head>
    <body ng-controller="calcController">

        <input type="number" ng-model="numbers.num1"/>
        <input type="number" ng-model="numbers.num2"/>


        <button ng-click="add()">+</button>
        <button ng-click="subtract()">-</button>
        <button ng-click="multiply()">*</button>
        <button ng-click="divide()">/</button>
         
         <div id="results">
        <p>{{results}}</p>
         </div>
    </body>
</html>